<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cupdata.order.dao.ServiceOrderDao">

    <resultMap id="BaseResultMap" type="com.cupdata.commons.model.ServiceOrder">
        <result column="ID" property="id" jdbcType="INTEGER"/>
        <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR"/>
        <result column="ORG_NO" property="orgNo" jdbcType="VARCHAR"/>
        <result column="SUPPLIER_NO" property="supplierNo" jdbcType="VARCHAR"/>
        <result column="ORG_ORDER_NO" property="orgOrderNo" jdbcType="VARCHAR"/>
		<result column="SUPPLIER_ORDER_NO" property="supplierOrderNo" jdbcType="VARCHAR"/>
		<result column="ORG_PRICE" property="orgPrice" jdbcType="BIGINT"/>
		<result column="SUPPLIER_PRICE" property="supplierPrice" jdbcType="BIGINT"/>
		<result column="SETTLE_DATE" property="settleDate" jdbcType="VARCHAR"/>
		<result column="ORDER_STATUS" property="orderStatus" jdbcType="CHAR"/>
		<result column="ORDER_TYPE" property="orderType" jdbcType="VARCHAR"/>
		<result column="ORDER_SUB_TYPE" property="orderSubType" jdbcType="VARCHAR"/>
		<result column="SUPPLIER_FLAG" property="supplierFlag" jdbcType="VARCHAR"/>
		<result column="ORDER_DESC" property="orderDesc" jdbcType="VARCHAR"/>
		<result column="ORDER_FAIL_DESC" property="orderFailDesc" jdbcType="VARCHAR"/>
		<result column="IS_NOTIFY" property="isNotify" jdbcType="CHAR"/>
		<result column="NOTIFY_URL" property="notifyUrl" jdbcType="VARCHAR"/>
		<result column="NODE_NAME" property="nodeName" jdbcType="VARCHAR"/>
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE"/>
    </resultMap>


	<sql id="Base_Column_List">
	ID,
	ORDER_NO,
	ORG_NO,
	SUPPLIER_NO,
	ORG_ORDER_NO,
	SUPPLIER_ORDER_NO,
	ORG_PRICE,
	SUPPLIER_PRICE,
	SETTLE_DATE,
	SUPPLIER_FLAG,
	ORDER_STATUS,
	ORDER_TYPE,
	ORDER_SUB_TYPE,
	ORDER_DESC,
	ORDER_FAIL_DESC,
	IS_NOTIFY,
	NOTIFY_URL,
	NODE_NAME,
	CREATE_BY,
	CREATE_DATE,
	UPDATE_BY,
	UPDATE_DATE
    </sql>

	<!-- 增加记录 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.cupdata.commons.model.ServiceOrder">
	insert into SERVICE_ORDER (SUPPLIER_FLAG ,ORDER_NO, ORG_NO, SUPPLIER_NO, ORG_ORDER_NO,
	SUPPLIER_ORDER_NO, ORG_PRICE, SUPPLIER_PRICE,
	SETTLE_DATE, ORDER_STATUS, ORDER_TYPE, ORDER_SUB_TYPE,ORDER_DESC, ORDER_FAIL_DESC, IS_NOTIFY,
	NOTIFY_URL, NODE_NAME,CREATE_BY,CREATE_DATE)
	values(#{supplierFlag},#{orderNo},#{orgNo},#{supplierNo},#{orgOrderNo},#{supplierOrderNo},#{orgPrice},#{supplierPrice},
	#{settleDate},#{orderStatus},#{orderType},#{orderSubType},#{orderDesc},#{orderFailDesc},#{isNotify},#{notifyUrl},#{nodeName},#{createBy},NOW())
	</insert>
	
	<update id="update" parameterType="com.cupdata.commons.model.ServiceOrder">
	UPDATE 
	  service_order
	SET
	  ORG_NO = #{orgNo},
	  SUPPLIER_NO = #{supplierNo},
	  ORG_ORDER_NO = #{orgOrderNo},
	  SUPPLIER_ORDER_NO = #{supplierOrderNo},
	  ORG_PRICE = #{orgPrice},
	  SUPPLIER_PRICE = #{supplierPrice},
	  SETTLE_DATE = #{settleDate},
	  ORDER_STATUS = #{orderStatus},
	  ORDER_TYPE = #{orderType},
	  SUPPLIER_FLAG = #{supplierFlag},
	  ORDER_SUB_TYPE = #{orderSubType},
	  ORDER_DESC = #{orderDesc},
	  ORDER_FAIL_DESC = #{orderFailDesc},
	  IS_NOTIFY = #{isNotify},
	  NOTIFY_URL = #{notifyUrl},
	  NODE_NAME = #{nodeName},
	  UPDATE_BY = #{updateBy},
	  UPDATE_DATE = NOW()
	WHERE ORDER_NO = #{orderNo};
	</update>
	
	<!-- 根据ID查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from SERVICE_ORDER
        where ID = #{id}
    </select>

	<!--根据条件查询单条数据-->
	<select id="selectSingle" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from SERVICE_ORDER
		where 1=1
		<if test=" orgNo != null and orgNo != ''">
			and ORG_NO = #{orgNo}
		</if>
		<if test=" supplierNo != null and supplierNo != ''">
			and SUPPLIER_NO = #{supplierNo}
		</if>
		<if test=" orderNo != null and orderNo != ''">
			and ORDER_NO = #{orderNo}
		</if>
		<if test=" orgOrderNo != null and orgOrderNo != ''">
			and ORG_ORDER_NO = #{orgOrderNo}
		</if>
		<if test=" supplierOrderNo != null and supplierOrderNo != ''">
			and SUPPLY_ORDER_NO = #{supplierOrderNo}
		</if>
		<if test=" orgPrice != null and orgPrice != ''">
			and ORG_PRICE = #{orgPrice}
		</if>
		<if test=" supplierPrice != null and supplierPrice != ''">
			and SUPPLIER_PRICE = #{supplierPrice}
		</if>
		<if test=" settleDate != null and settleDate != ''">
			and SETTLE_DATE = #{settleDate}
		</if>
		<if test=" orderStatus != null and orderStatus != ''">
			and ORDER_STATUS = #{orderStatus}
		</if>
		<if test=" orderType != null and orderType != ''">
			and ORDER_TYPE = #{orderType}
		</if>
		<if test=" supplierFlag != null and supplierFlag != ''">
			and SUPPLIER_FLAG = #{supplierFlag}
		</if>
		<if test=" orderSubType != null and orderSubType != ''">
			and ORDER_SUB_TYPE = #{orderSubType}
		</if>
		limit 1
	</select>
		
	<!-- 根据条件查询所有记录 -->
     <select id="selectAll"  resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from SERVICE_ORDER
        where 1=1
		 <if test=" orgNo != null and orgNo != ''">
			and ORG_NO = #{orgNo}
		</if>
		<if test=" supplierNo != null and supplierNo != ''">
			and SUPPLIER_NO = #{supplierNo}
		</if>
		<if test=" orderNo != null and orderNo != ''">
			and ORDER_NO = #{orderNo}
		</if>
		<if test=" orgOrderNo != null and orgOrderNo != ''">
			and ORG_ORDER_NO = #{orgOrderNo}
		</if>
		<if test=" supplierOrderNo != null and supplierOrderNo != ''">
			and SUPPLY_ORDER_NO = #{supplierOrderNo}
		</if>
		<if test=" orgPrice != null and orgPrice != ''">
			and ORG_PRICE = #{orgPrice}
		</if>
		<if test=" supplierPrice != null and supplierPrice != ''">
			and SUPPLIER_PRICE = #{supplierPrice}
		</if>
		<if test=" settleDate != null and settleDate != ''">
			and SETTLE_DATE = #{settleDate}
		</if>
		<if test=" orderStatus != null and orderStatus != ''">
			and ORDER_STATUS = #{orderStatus}
		</if>
		<if test=" orderType != null and orderType != ''">
			and ORDER_TYPE = #{orderType}
		</if>
		<if test=" supplierFlag != null and supplierFlag != ''">
			and SUPPLIER_FLAG = #{supplierFlag}
		</if>
		<if test=" orderSubType != null and orderSubType != ''">
			and ORDER_SUB_TYPE = #{orderSubType}
		</if>
	 </select>

	<select id="selectMainOrderList" parameterType="map" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from SERVICE_ORDER
		where 1=1
		<if test=" orderStatus != null and orderStatus != ''">
			and ORDER_STATUS = #{orderStatus}
		</if>
		<if test=" supplierFlag != null and supplierFlag != ''">
			and SUPPLIER_FLAG = #{supplierFlag}
		</if>
		<if test=" orderSubType != null and orderSubType.size > 0">
			and ORDER_SUB_TYPE  in
			<foreach item="orderSubType" index="index" collection="orderSubType"
					 open="(" separator="," close=")"> #{orderSubType}
			</foreach>
		</if>
	</select>

</mapper>