<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cupdata.orgsupplier.dao.OrgInfDao">

    <resultMap id="BaseResultMap" type="com.cupdata.commons.model.OrgInf">
        <result column="ID" property="id" jdbcType="INTEGER"/>
		<result column="ORG_NO" property="orgNo" jdbcType="VARCHAR"/>
		<result column="ORG_NAME" property="orgName" jdbcType="VARCHAR"/>
		<result column="ORG_DESC" property="orgDesc" jdbcType="VARCHAR"/>
		<result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
		<result column="CONTACTS" property="contacts" jdbcType="VARCHAR"/>
		<result column="MOBILE_NO" property="mobileNo" jdbcType="VARCHAR"/>
		<result column="ORG_TYPE" property="orgType" jdbcType="VARCHAR"/>
		<result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR"/>
		<result column="ORG_PUB_KEY" property="orgPubKey" jdbcType="VARCHAR"/>
		<result column="SIP_PUB_KEY" property="sipPubKey" jdbcType="VARCHAR"/>
		<result column="SIP_PRI_KEY" property="sipPriKey" jdbcType="VARCHAR"/>
		<result column="WHITE_IPS" property="whiteIps" jdbcType="VARCHAR"/>
		<result column="VALID_STATUS" property="validStatus" jdbcType="CHAR"/>
		<result column="CREATE_BY" property="createDate" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
		<result column="UPDATE_BY" property="updateDate" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE"/>
    </resultMap>
    
    <sql id="Base_Column_List">
	ID,
	ORG_NO,
	ORG_NAME,
	ORG_DESC,
	ADDRESS,
	CONTACTS,
	MOBILE_NO,
	ORG_TYPE,
	BANK_CODE,
	ORG_PUB_KEY,
	SIP_PUB_KEY,
	SIP_PRI_KEY,
	WHITE_IPS,
	VALID_STATUS,
	CREATE_BY,
	CREATE_DATE,
	UPDATE_BY,
	UPDATE_DATE
    </sql>
    
    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ORG_INF
        where ID = #{id}
    </select>
    
     <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from ORG_INF
        where 1=1
        <if test=" id != null and id != ''">
			 and ID = #{id}
		</if>
		 <if test=" orgNo != null and orgNo != ''">
			 and ORG_NO = #{orgNo}
		 </if>
		 <if test=" orgName != null and orgName != ''">
			 and ORG_NAME = #{orgName}
		 </if>
		 <if test=" contacts != null and contacts != ''">
			 and CONTACTS = #{contacts}
		 </if>
		 <if test=" mobileNo != null and mobileNo != ''">
			 and MOBILE_NO = #{mobileNo}
		 </if>
		 <if test=" orgType != null and orgType != ''">
			 and ORG_TYPE = #{orgType}
		 </if>
		 <if test=" bankCode != null and bankCode != ''">
			 and BANK_CODE = #{bankCode}
		 </if>
		 <if test=" validStatus != null and validStatus != ''">
			 and VALID_STATUS = #{validStatus}
		 </if>
    </select>

</mapper>