<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cupdata.product.dao.OrgProductRelaDao">

    <resultMap id="BaseResultMap" type="com.cupdata.commons.model.OrgProductRela">
        <result column="ID" property="id" jdbcType="INTEGER"/>
		<result column="ORG_NO" property="orgNo" jdbcType="VARCHAR"/>
		<result column="PRODUCT_NO" property="productNo" jdbcType="VARCHAR"/>
		<result column="ORG_PRICE" property="orgPrice" jdbcType="INTEGER"/>
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE"/>
    </resultMap>
    
    
    <sql id="Base_Column_List">
	ID,
	ORG_NO,
	PRODUCT_NO,
	ORG_PRICE,
	CREATE_BY,
	CREATE_DATE,
	UPDATE_BY,
	UPDATE_DATE
    </sql>
    
    
    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from ORG_PRODUCT_RELA
        where ID = #{id}
    </select>
    
     <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from ORG_PRODUCT_RELA
        where 1=1
		<if test=" id != null and id != ''">
			 and ID = #{id}
		</if>
		<if test=" orgNo != null and orgNo != ''">
			 and ORG_NO = #{orgNo}
		</if>
		 <if test=" productNo != null and productNo != ''">
			 and PRODUCT_NO = #{productNo}
		 </if>
		 <if test=" orgPrice != null and orgPrice != ''">
			 and ORG_PRICE = #{orgPrice}
		 </if>
    </select>

</mapper>