<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cupdata.product.dao.ServiceProductConfigDao">

    <resultMap id="BaseResultMap" type="com.cupdata.commons.model.ServiceProductConfig">
        <result column="ID" property="id" jdbcType="INTEGER"/>
		<result column="SUPPLIER_NO" property="supplierNo" jdbcType="VARCHAR"/>
		<result column="CONFIG_DESC" property="configDesc" jdbcType="VARCHAR"/>
		<result column="BUSINESS_ID" property="businessId" jdbcType="VARCHAR"/>
		<result column="SUPPLIER_API_URL" property="supplierApiUrl" jdbcType="VARCHAR"/>
		<result column="MD5_SECRET_KEY" property="md5SecretKey" jdbcType="VARCHAR"/>
		<result column="RSA_SUP_PUB_KEY" property="rsaSupPubKey" jdbcType="VARCHAR"/>
		<result column="RSA_SIP_PUB_KEY" property="rsaSipPubKey" jdbcType="VARCHAR"/>
		<result column="RSA_SIP_PRI_KEY" property="rsaSipPriKey" jdbcType="VARCHAR"/>
		<result column="CREATE_BY" property="createDate" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
		<result column="UPDATE_BY" property="updateDate" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE"/>
    </resultMap>
    
    
    <sql id="Base_Column_List">
	ID,
	SUPPLIER_NO,
	CONFIG_DESC,
	BUSINESS_ID,
	SUPPLIER_API_URL,
	MD5_SECRET_KEY,
	RSA_SUP_PUB_KEY,
	RSA_SIP_PUB_KEY,
	RSA_SIP_PRI_KEY,
	CREATE_BY,
	CREATE_DATE,
	UPDATE_BY,
	UPDATE_DATE
    </sql>
    
    
    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from SERVICE_PRODUCT_CONFIG
        where ID = #{id}
    </select>
    
     <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> Base_Column_List from SERVICE_PRODUCT_CONFIG
        where 1=1
        <if test=" id != null and id != ''">
			 and ID = #{id}
		</if>
		 <if test=" supplierNo != null and supplierNo != ''">
			 and SUPPLIER_NO = #{supplierNo}
		</if>
		 <if test=" configDesc != null and configDesc != ''">
			 and CONFIG_DESC = #{configDesc}
		 </if>
		 <if test=" businessId != null and businessId != ''">
			 and BUSINESS_ID = #{businessId}
		 </if>
		 <if test=" supplierApiUrl != null and supplierApiUrl != ''">
			 and SUPPLIER_API_URL = #{supplierApiUrl}
		 </if>
		 <if test=" md5SecretKey != null and md5SecretKey != ''">
			 and MD5_SECRET_KEY = #{md5SecretKey}
		 </if>
		 <if test=" rsaSupPubKey != null and rsaSupPubKey != ''">
			 and RSA_SUP_PUB_KEY = #{rsaSupPubKey}
		 </if>
		 <if test=" rsaSipPubKey != null and rsaSipPubKey != ''">
			 and RSA_SIP_PUB_KEY = #{rsaSipPubKey}
		 </if>
		 <if test=" rsaSipPriKey != null and rsaSipPriKey != ''">
			 and RSA_SIP_PRI_KEY = #{rsaSipPriKey}
		 </if>
    </select>

</mapper>