<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cupdata.sysConfig.dao.SysConfigDao">

  <resultMap id="BaseResultMap" type="com.cupdata.commons.model.SysConfig">
        <result column="ID" property="id" jdbcType="INTEGER"/>
		<result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR"/>
		<result column="PARA_NAME_EN" property="paraNameEn" jdbcType="VARCHAR"/>
		<result column="PARA_NAME_CN" property="paraNameCn" jdbcType="VARCHAR"/>
		<result column="PARA_VALUE" property="paraValue" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
		<result column="UPDATE_DATE" property="updateDate" jdbcType="DATE"/>
    </resultMap>
	
	
	<sql id="Base_Column_List">
	ID,
	BANK_CODE,
	PARA_NAME_EN,
	PARA_NAME_CN,
	PARA_VALUE,
	CREATE_DATE,
	UPDATE_DATE
    </sql>

	<select id = "getConfig" resultType="java.lang.String" parameterType="java.lang.String">
		select PARA_VALUE from sys_config 
		where
			BANK_CODE = #{bankCode}	
		and PARA_NAME_EN = #{paraName}
	</select>
</mapper>