<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cupdata.config.dao.ConfigDao">

  <resultMap id="BaseResultMap" type="com.cupdata.commons.model.SysConfig">
        <result column="ID" property="id" jdbcType="INTEGER"/>
		<result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR"/>
		<result column="PARA_NAME_EN" property="paraNameEn" jdbcType="VARCHAR"/>
		<result column="PARA_NAME_CN" property="paraNameCn" jdbcType="VARCHAR"/>
		<result column="PARA_VALUE" property="paraValue" jdbcType="VARCHAR"/>
		 <result column="CREATE_BY" property="createBy" jdbcType="DATE"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
        <result column="UPDATE_BY" property="updateBy" jdbcType="DATE"/>
		<result column="UPDATE_DATE" property="updateDate" jdbcType="DATE"/>
    </resultMap>
	
	<sql id="Base_Column_List">
	ID,
	BANK_CODE,
	PARA_NAME_EN,
	PARA_NAME_CN,
	PARA_VALUE,
	CREATE_BY,
	CREATE_DATE,
	UPDATE_BY,
	UPDATE_DATE
    </sql>
    
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_config
		where 1=1
		<if test=" id != null and id != ''">
			 and paraNameCn = #{paraNameCn}
		</if>
		<if test=" bankCode != null and bankCode != ''">
			 and BANK_CODE = #{bankCode}
		</if>
		<if test=" paraNameEn != null and paraNameEn != ''">
			 and PARA_NAME_EN = #{paraNameEn}
		</if>
		<if test=" paraNameCn != null and paraNameCn != ''">
			 and PARA_NAME_CN = #{paraNameCn}
		</if>
		<if test=" paraValue != null and paraValue != ''">
			 and PARA_VALUE = #{paraValue}
		</if>
		<if test=" createBy != null and createBy != ''">
			 and CREATE_BY = #{createBy}
		</if>
		<if test=" createDate != null and createDate != ''">
			 and CREATE_DATE = #{createDate}
		</if>
		<if test=" updateBy != null and updateBy != ''">
			 and UPDATE_BY = #{updateBy}
		</if>
		<if test=" updateDate != null and updateDate != ''">
			 and UPDATE_DATE = #{updateDate}
		</if>
	</select> 
	
</mapper>