<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupdata.sip.common.dao.mapper.ElecVoucherCategoryMapper">

  <resultMap id="BaseResultMap" type="com.cupdata.sip.common.dao.entity.ElecVoucherCategory">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="SUPPLIER_ID" jdbcType="BIGINT" property="supplierId" />
    <result column="CATEGORY_NAME" jdbcType="VARCHAR" property="categoryName" />
    <result column="VALID_STATUS" jdbcType="CHAR" property="validStatus" />
    <result column="STOCK_WARNING" jdbcType="VARCHAR" property="stockWarning" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <sql id="Base_Column_List">
    ID,
    SUPPLIER_ID,
    CATEGORY_NAME,
    VALID_STATUS,
    STOCK_WARNING,
    CREATE_BY,
    CREATE_DATE,
    UPDATE_BY,
    UPDATE_DATE
  </sql>

  <!--根据券码分类id，查询出有效券码-->
  <select id="getValidVoucherById" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> FROM ELEC_VOUCHER_CATEGORY
    where 1=1
    <if test=" categoryId != null and categoryId != ''">
      and ID = #{categoryId}
    </if>
    and VALID_STATUS = '1'
  </select>
</mapper>