<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupdata.sip.common.dao.mapper.ServiceOrderRechargeMapper">
  <resultMap id="BaseResultMap" type="com.cupdata.sip.common.dao.entity.ServiceOrderRecharge">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="PRODUCT_NO" jdbcType="VARCHAR" property="productNo" />
    <result column="ACCOUNT_NUMBER" jdbcType="VARCHAR" property="accountNumber" />
    <result column="OPEN_DURATION" jdbcType="INTEGER" property="openDuration" />
    <result column="RECHARGE_AMT" jdbcType="INTEGER" property="rechargeAmt" />
    <result column="RECHARGE_TRAFFIC" jdbcType="INTEGER" property="rechargeTraffic" />
    <result column="RECHARGE_NUMBER" jdbcType="INTEGER" property="rechargeNumber" />
    <result column="GAME_REGION" jdbcType="VARCHAR" property="gameRegion" />
    <result column="GAME_SERVER" jdbcType="VARCHAR" property="gameServer" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
</mapper>