<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cupdata.voucher.dao.VoucherLibDao">

	<resultMap id="BaseResultMap" type="com.cupdata.commons.model.ElectronicVoucherLib">
		<result column="ID" property="id" jdbcType="BIGINT"/>
		<result column="BATCH_ID" property="batchId" jdbcType="BIGINT"/>
		<result column="SUPPLYER_ID" property="supplyerId" jdbcType="BIGINT"/>
		<result column="CATEGORY_ID" property="categoryId" jdbcType="BIGINT"/>
		<result column="ORG_NOS" property="orgNos" jdbcType="VARCHAR"/>
		<result column="TICKET_NO" property="ticketNo" jdbcType="VARCHAR"/>
		<result column="START_DATE" property="startDate" jdbcType="VARCHAR"/>
		<result column="END_DATE" property="endDate" jdbcType="VARCHAR"/>
		<result column="SEND_STATUS" property="sendStatus" jdbcType="VARCHAR"/>
		<result column="ORG_NO" property="orgNo" jdbcType="VARCHAR"/>
		<result column="ORDER_NO" property="orgOrderNo" jdbcType="BIGINT"/>
		<result column="MOBIL_NO" property="mobileNo" jdbcType="BIGINT"/>
		<result column="SEND_DATE" property="sendDate" jdbcType="DATE"/>
		<result column="RECOVERY_DATE" property="recoveryDate" jdbcType="DATE"/>
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR"/>
		<result column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR"/>
		<result column="UPDATE_DATE" property="updateDate" jdbcType="DATE"/>
	</resultMap>

	<sql id="Base_Column_List">
		ID,
		BATCH_ID,
		SUPPLYER_ID,
		CATEGORY_ID,
		ORG_NOS,
		TICKET_NO,
		START_DATE,
		END_DATE,
		SEND_STATUS,
		ORG_NO,
		ORDER_NO,
		MOBIL_NO,
		SEND_DATE,
		RECOVERY_DATE,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE
	</sql>

	<select id="selectValidVoucherLibByCategoryId" resultMap="BaseResultMap" parameterType="com.cupdata.commons.model.ElectronicVoucherLib">
		SELECT
		*
		FROM
		elec_voucher_lib
		WHERE
		Id &gt;= (
		RAND() * (SELECT MAX(Id) FROM elec_voucher_lib) - (SELECT MIN(Id) FROM elec_voucher_lib)
		)  + (SELECT MIN(Id) FROM elec_voucher_lib)
		AND CATEGORY_ID = #{categoryId}
		AND SEND_STATUS = '0'
		AND START_DATE &lt;= NOW()
		AND END_DATE &gt;= NOW()
		LIMIT 1
	</select>

	<update id="update" parameterType="com.cupdata.commons.model.ElectronicVoucherLib">
		UPDATE
		ELEC_VOUCHER_LIB
		SET
		SEND_STATUS = '1',
		ORG_NO = #{orgNo},
		ORDER_NO = #{orgOrderNo},
		MOBIL_NO = #{mobileNo},
		SEND_DATE = NOW(),
		UPDATE_DATE = NOW()
		WHERE ID = #{id}
		and SEND_STATUS = '0'
	</update>

</mapper>