<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cupdata.order.dao.ServiceOrderVoucherDao">

    <resultMap id="BaseResultMap" type="com.cupdata.commons.model.ServiceOrderVoucher">
        <result column="ID" property="id" jdbcType="INTEGER"/>
        <result column="ORDER_ID" property="orderId" jdbcType="INTEGER"/>
        <result column="PRODUCT_NO" property="productNo" jdbcType="VARCHAR"/>
        <result column="VOUCHER_CODE" property="voucherCode" jdbcType="VARCHAR"/>
        <result column="VOUCHER_PASSWORD" property="voucherPassword" jdbcType="VARCHAR"/>
        <result column="QR_CODE_URL" property="qrCodeUrl" jdbcType="VARCHAR"/>
        <result column="START_DATE" property="startDate" jdbcType="VARCHAR"/>
        <result column="END_DATE" property="endDate" jdbcType="VARCHAR"/>
		<result column="CREATE_BY" property="createDate" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
		<result column="UPDATE_BY" property="updateDate" jdbcType="VARCHAR"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE"/>
    </resultMap>
    
    
    <sql id="Base_Column_List">
	ID,
	ORDER_ID,
	PRODUCT_NO,
	VOUCHER_CODE,
	VOUCHER_PASSWORD,
	QR_CODE_URL,
	START_DATE,
	END_DATE,
	CREATE_BY,
	CREATE_DATE,
	UPDATE_BY,
	UPDATE_DATE
    </sql>

	<!-- 增加记录 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.cupdata.commons.model.ServiceOrderVoucher">
		insert into SERVICE_ORDER_VOUCHER (ORDER_ID, PRODUCT_NO, VOUCHER_CODE, VOUCHER_PASSWORD, QR_CODE_URL, START_DATE, END_DATE)
		values(#{orderId},#{productNo},#{voucherCode},#{voucherPassword},#{qrCodeUrl},#{startDate},#{endDate})
	</insert>

    <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from SERVICE_ORDER_VOUCHER
        where ID = #{id}
    </select>
    
     <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from SERVICE_ORDER_VOUCHER
        where 1=1
        <if test=" id != null and id != ''">
				and ID = #{id}
		</if>
		 <if test=" orderId != null and orderId != ''">
			 and ORDER_ID = #{orderId}
		 </if>
		 <if test=" productNo != null and productNo != ''">
			 and PRODUCT_NO = #{productNo}
		 </if>
		 <if test=" voucherCode != null and voucherCode != ''">
			 and VOUCHER_CODE = #{voucherCode}
		 </if>
		 <if test=" voucherPassword != null and voucherPassword != ''">
			 and VOUCHER_PASSWORD = #{voucherPassword}
		 </if>
		 <if test=" qrCodeUrl != null and qrCodeUrl != ''">
			 and QR_CODE_URL = #{qrCodeUrl}
		 </if>
		 <if test=" startDate != null and startDate != ''">
			 and START_DATE = #{startDate}
		 </if>
		 <if test=" endDate != null and endDate != ''">
			 and END_DATE = #{endDate}
		 </if>
    </select>

</mapper>